.tcol-content {
  font-size: 0.875rem;
}
.tcol-content-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.tcol-content-main {
  padding: 2.5em 2em;
}
.tcol-content-headings,
.tcol-content-paragraphs {
  display: flex;
  flex-direction: column;
  column-gap: 2em;
}
.tcol-content-headings > div,
.tcol-content-paragraphs > div {
  flex: 1;
}
.tcol-content-title {
  margin-top: 0;
  margin-bottom: 0.83em;
  font-size: 2.5em;
  font-weight: normal;
}
.tcol-content-subtitle {
  margin-bottom: 0.83em;
  font-size: 1.25em;
  font-weight: normal;
}
.tcol-content-pcontainer {
  font-size: 1em;
  font-weight: normal;
}
.tcol-content-pcontainer p {
  margin: 1em 0;
}
@media only screen and (min-width: 1024px) {
  .tcol-content {
    font-size: 1rem;
  }
  .tcol-content-headings,
  .tcol-content-paragraphs {
    flex-direction: row;
  }
}
