.cbp-spmenu .user-burger {
    height: 136px;
    padding: 25px 25px;
    text-align: left;
}

.cbp-spmenu .user-burger .usertitle-burger {
    position: relative;
}

.cbp-spmenu .user-burger .usertitle-burger .avatar-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    vertical-align: middle;
    display: inline-block;
}

.cbp-spmenu .user-burger .usertitle-burger .avatar.size-lg {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
}

#menuap .user-burger .usertitle-burger .avatar.size-lg .avatar-notifiche {
    position: absolute;
    color: #fff;
    font-size: 0.500em;
    font-weight: 600;
    background: #D71820;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 4px;
    right: -6px;
}

.cbp-spmenu .user-burger .usertitle-burger span {
    font-weight: 400;
    font-size: 1.125em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}

.cbp-spmenu .user-burger .usertitle-burger svg.icon {
    fill: #fff;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    right: 0;
}

.cbp-spmenu .usermail-burger {
    margin-top: 12px;
}

.cbp-spmenu .usermail-burger a {
    font-size: 0.750em;
    color: #FFF;
    font-weight: 400;
}


#menuap .navmenu li a {
    font-size: 1.125em;
    font-weight: 400;
}

#menuap .navmenu>li>a:hover, 
#menuap .navmenu>li>a:focus, 
#menuap .navmenu li>a:hover>span:after,
.navmenu>li.active>a {
    border-left: 4px solid #327632;
}

.areapersonale .intestazione {
    padding-bottom: 42px;
}

.areapersonale .intestazione #briciole {
    padding: 32px 0 0 0;
    margin: 0;
}

.areapersonale .intestazione .areapersonale-menu {
    margin: 0;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione {
    margin-top: 16px;
    text-align: center;
    position: relative;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione h2 {
    color: #000;
    font-weight: 400;
    font-size: 1.778em;
    letter-spacing: 0;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione h2 strong {
    font-weight: 700;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione .menu-profilo-ap {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.889em;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione .menu-profilo-ap a {
    margin: 0 8px;
    padding: 1px;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione .menu-profilo-ap a:last-child {
    margin-right: 0;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione .menu-profilo-ap svg.icon {
    width: 22px;
    height: 22px;
    fill: #327632;
    vertical-align: middle;
}

.areapersonale .intestazione .areapersonale-menu .titolo-sezione .menu-profilo-ap a:focus {
    outline: 2px solid #FF8C00 !important;
}

.areapersonale .intestazione .areapersonale-menu .menu-sezione-ap {
    text-align: center;
    margin: 16px 0;
}

.areapersonale .intestazione .areapersonale-menu .menu-sezione-ap .sub-nav {
    display: block;
    padding: 0;
    margin: 0;
}

.areapersonale .intestazione .areapersonale-menu .menu-sezione-ap .sub-nav li {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 20px;
    position: relative;
}

.areapersonale .intestazione .areapersonale-menu .menu-sezione-ap .sub-nav li a {
    padding: 12px 28px 12px 28px;
    color: #327632;
    display: block;
    border-bottom: 2px solid transparent;
}

.areapersonale .intestazione .areapersonale-menu .menu-sezione-ap .sub-nav li a.current {
    border-bottom: 2px solid #327632;
}

.areapersonale table {
    margin-bottom: 40px;
}

.areapersonale .help {
    padding: 48px 0 64px 0;
    margin-top: 32px;
}

.areapersonale .help h3 {
    color: #fff;
    font-size: 1.778em;
    margin: 0;
}

.areapersonale .help p {
    color: #fff;
    font-size: 1em;
    margin: 8px 0;
    line-height: 1.2;
}

.areapersonale .help a {
    color: #fff;
    font-weight: bold;
}

.areapersonale-sezione {
    padding: 32px 0;
}

.areapersonale-sezione .titolosezione h3 {
    margin: 0 0 16px 0;
}


.areapersonale-sezione .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.areapersonale-sezione .owl-carousel .owl-item {
    padding: 0;
    opacity: 0;
    transition: opacity 500ms;
}

.areapersonale-sezione .owl-carousel .owl-item.active {
    opacity: 1;
}

.areapersonale-sezione .owl-carousel .owl-item:last-of-type {
    padding: 0;
}

.areapersonale .scheda .scheda-data {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    background-color: #796C31 !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.1);
    position: absolute;
    right: 24px;
    top: 24px;
    color: #fff;
    text-align: center;
    font-size: 0.889em;
    font-weight: 600;
    line-height: 1.3;
    padding: 12px 0;
    text-transform: capitalize; 
}

.areapersonale .scheda .scheda-data strong {
    font-size: 1.667em;
    font-weight: 700;
    display: block;
}

.areapersonale .scheda-slide {
    background: #fff;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
    border: 1px solid #ECEFF1;
    position: relative;
    height: 100%;
    border-radius: 4px;
    display: block;
}

.areapersonale .scheda-slide .scheda-testo, 
.areapersonale .scheda-slide .scheda-footer {
    padding: 10px 24px 16px 24px;
}

.areapersonale .scheda-slide .scheda-footer {

}

.areapersonale .scheda-slide .scheda-icona {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #e6edef;
    margin: 24px 8px 8px 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    color: #327632;
    display: inline-block;
}

.areapersonale .scheda-slide .scheda-icona svg.icon {
    width: 24px;
    height: 24px;
    fill: #327632;
}

.areapersonale .scheda-slide .scheda-icona.rosso svg.icon {
    fill: #BB4713;
}

.areapersonale .scheda-slide .scheda-icona-testo {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    color: #327632;
    letter-spacing: 1px;
    font-size: .778em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 24px;
}

.areapersonale .scheda-slide .scheda-testo {
    padding-top: 8px;
}

.areapersonale .scheda-slide .scheda-testo h4 {
    font-size: 1.556em;
    font-weight: bold;
    margin: 0 0 8px 0;
    line-height: 1.1;
}

.areapersonale .scheda-slide .scheda-testo p { 
    font-size: 0.889em;
    line-height: 24px;
}

.areapersonale .scheda-slide .scheda-testo h4 a,
.areapersonale .scheda-slide .scheda-testo h4 a:not([href]):not([tabindex]), 
.areapersonale .scheda-slide .scheda-testo h4 a:not([href]):not([tabindex]):focus, 
.areapersonale .scheda-slide .scheda-testo h4 a:not([href]):not([tabindex]):hover {
    color: #327632;
}

.areapersonale-sezione.servizi-widget input[type="text"]:disabled,
.areapersonale-sezione.servizi-widget select:disabled {
    background: transparent!important;
    border: 0;
    padding-left: 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    margin-bottom: 22px;
    padding-bottom: 24px;
    height: 58px;
}

.areapersonale-sezione.servizi-widget input,
.areapersonale-sezione.servizi-widget select,
.areapersonale-sezione.servizi-widget textarea {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.areapersonale-sezione.servizi-widget .avatar {
    color:#fff;
    margin-bottom: 24px;
}

.areapersonale-sezione.servizi-widget input[type="file"] {
    margin-bottom: 24px;
}

.areapersonale-sezione.servizi-widget .form-check.form-check-group {
    box-shadow: none;
}

.areapersonale-sezione.servizi-widget .form-check .toggles {
    margin-bottom: 32px;
}

.areapersonale-sezione.servizi-widget .toggles label {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

.areapersonale-sezione.servizi-widget .toggles label input[type=checkbox]+.lever {
    margin: 8px 0 16px 0;
}

.areapersonale-sezione.servizi-widget .toggles label input[type=checkbox]+.lever:after {
    background-color: #8E8C8C;
}

.areapersonale-sezione.servizi-widget .toggles label input[type=checkbox]:checked+.lever:after {
    background-color: #4e727e;
}


@media (min-width: 768px) {
    #menuap {
        display: none !important;
    }
}

@media (max-width: 767px) {

    .btn-accedi-ap-md {
        display: none !important;
    }

    .btn-accedi-ap-sm {
        display: inline-block !important;
    }

    #menuap span {
        display: inline-block !important;
    }

    #mainheader .preheader .accedi .dropdown-menu {
        display: none !important;
    }

    .areapersonale-sezione {
        padding: 16px 0;
    }

    .areapersonale:not(.areapersonale-home) section:nth-child(2) {
        padding-top: 4px;
    }

    .areapersonale .intestazione {
        padding-bottom: 40px;
    }

    .areapersonale:not(.areapersonale-home) .intestazione.bg-grigio {
        padding-bottom: 0;
        background: #fff!important;
    }

    .areapersonale .intestazione .areapersonale-menu .titolo-sezione {
        margin: 0;
        text-align: left;
        display: none;
    }

    .areapersonale.areapersonale-home .intestazione .areapersonale-menu .titolo-sezione {
        display: block;
    }

    .areapersonale .intestazione .areapersonale-menu .titolo-sezione .menu-profilo-ap {
        display: none;
    }

    .areapersonale .intestazione .areapersonale-menu .menu-sezione-ap {
        display: none;
    }

    .areapersonale .help {
        padding: 32px 0 40px 0;
    }

    #owl-evidenza {
        margin-top: 16px;
    }

    .areapersonale-sezione .owl-carousel .owl-item.active {
        padding: 0;
    }

    .areapersonale-sezione .owl-carousel .owl-item.active:last-of-type {
        padding: 0;
    }

    .areapersonale table {
        margin-bottom: 20px;
    }

    .areapersonale-sezione .pagination {
        margin: 0;
    }
    
    .areapersonale .scheda.scheda-slide {
        height: auto;
    }

    .areapersonale .scheda-slide .scheda-icona-testo {
        height: 26px;
        vertical-align: middle;
        font-size: 1em;
        margin-top: 24px;
        font-size: 0.889em;
    }

    .areapersonale .scheda-slide .scheda-testo p {
        font-size: 1em;
    }
}