.sitemap {
  padding: 2.5em 2em;
}
.sitemap li {
  margin: 1rem 0;
}

.sitemap a {
  font-size: 16px;
  color: #203753;
  text-decoration: none;
}
.sitemap a:hover {
  text-decoration: underline;
}
.sitemap h2 {
  margin-top: 0;
  margin-bottom: 0.83em;
  font-size: 2.5em;
  font-weight: normal;
}
.sitemap .nav {
  margin: 0 auto;
  list-style-type: disc;
}
.sitemap .nav.nav-list {
  margin-top: 40px;
}
.sitemap .a-void:hover {
  font-weight: normal;
}
.sitemap ul {
  padding-left: 40px;
}
.sitemap > ul {
  padding-left: 0;
}

.sitemap > ul > li.nav-header {
  list-style: none;
}

.sitemap > ul > li.nav-header > strong {
  font-size: 18px;
}

.sitemap .nav-list {
list-style-type: disc;
}
